package ${package}.${moduleName}.dto;

import com.zznode.plat.common.consts.JsonDataFormatConst;
import com.fasterxml.jackson.annotation.JsonFormat;
import io.swagger.annotations.ApiModel;
import io.swagger.annotations.ApiModelProperty;
import lombok.Data;

#if(${hasBigDecimal})
import java.math.BigDecimal;
#end
import java.io.Serializable;
import java.util.Date;

/**
 * ${comments}
 * 
 * @author ${author}
 * @since ${datetime}
 */
@ApiModel(value = "${comments}列表信息", description="${comments}列表信息")
@Data
public class ${className}Dto implements Serializable {
	private static final long serialVersionUID = 1L;

#foreach ($column in $columns)

    @ApiModelProperty(value = "${column.comments}")
    #if($column.attrType == "Date")
@JsonFormat(pattern =JsonDataFormatConst.DATE_FORMAT, timezone = JsonDataFormatConst.DATE_ZONE)
    #end
private $column.attrType $column.attrname;
#end

}
